In [1]:
# Importing the required libraries
import pandas as pd
import numpy as np
import re

pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [2]:
# Importing the raw dataset
df = pd.read_csv('DataAnalyst.csv')
df.drop('Unnamed: 0', axis = 1, inplace = True)

In [3]:
def get_a_b(x):
    a = []
    b = []
    for row in x:
        a.append(row[0])
        b.append(row[1])
    return a,b

In [4]:
def get_min_max_salary(salary_estimate):
    pattern = '[^\d-]'
    min_, max_ = re.sub(pattern, '', salary_estimate).split('-')
    return min_,max_

In [5]:
# Cleaning the data column wise

df['Min Salary Estimate'], df['Max Salary Estimate'] = get_a_b(df['Salary Estimate'].apply(get_min_max_salary))
df['Min Salary Estimate']  =  pd.to_numeric( df['Min Salary Estimate']) * 1000
df['Max Salary Estimate']  =  pd.to_numeric( df['Max Salary Estimate']) * 1000
df['Company Name'] = df['Company Name'].str.split('\n').str[0]
df['City'] = df['Location'].str.split(',').str[0]
df['State'] = df['Location'].str.split(',').str[1].str.strip()
df['HCity'] = df['Headquarters'].str.split(',').str[0]
df['HState'] = df['Headquarters'].str.split(',').str[1].str.strip()

df.replace(['-1', 'Unknown'], np.nan, inplace = True)

size_dict = {"1 to 50 employees":'1-50',
            "51 to 200 employees":'51-200',
            "201 to 500 employees":'201-500',
            "501 to 1000 employees":'501-1000',
            "1001 to 5000 employees":'1001-5000',
            "5001 to 10000 employees":'5001-10000',
            "10000+ employees":'10000+'}
df["Size"] = df["Size"].apply(lambda x: size_dict.get(x))

df.replace({'Type of ownership': {'Company - Private': 'Private Company',
                                 'Company - Public': 'Public Company',
                                 'Subsidiary or Business Segment': 'Business',
                                 'College / University': 'Education',
                                 'Other Organization': np.nan,
                                 'Private Practice / Firm': 'Private Firm',
                                 'School / School District': 'Education'}}, inplace=True)

df.replace({'Revenue': {'Unknown / Non-Applicable': np.nan}}, inplace=True)
df['Revenue'] = df['Revenue'].str.replace('$','').str[:-5].str.strip()

df['Number of Competitors'] = df['Competitors'].apply(lambda x: len(x.split(',')) if not isinstance(x, float) else np.nan)

In [6]:
df.head(5)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,Min Salary Estimate,Max Salary Estimate,City,State,HCity,HState,Number of Competitors
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice,"New York, NY","New York, NY",201-500,1961,Nonprofit Organization,Social Assistance,Non-Profit,100 to 500 million,NaN,True,37000.0,66000,New York,NY,New York,NY,NaN
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York,"New York, NY","New York, NY",10000+,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,2 to 5 billion,NaN,NaN,37000.0,66000,New York,NY,New York,NY,NaN
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace,"New York, NY","New York, NY",1001-5000,2003,Private Company,Internet,Information Technology,NaN,GoDaddy,NaN,37000.0,66000,New York,NY,New York,NY,1.0
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity,"New York, NY","McLean, VA",201-500,2002,Business,IT Services,Information Technology,50 to 100 million,NaN,NaN,37000.0,66000,New York,NY,McLean,VA,NaN
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel,"New York, NY","New York, NY",501-1000,2009,Private Company,Sports & Recreation,"Arts, Entertainment & Recreation",100 to 500 million,DraftKings,True,37000.0,66000,New York,NY,New York,NY,1.0

In [7]:
columns = ['Job Title',
          'Min Salary Estimate', 
          'Max Salary Estimate',
          'Rating',
          'Company Name',
          'City',
          'State', 
          'HCity',
          'HState',
          'Size',
          'Founded',
          'Type of ownership',
          'Industry',
          'Sector', 
          'Revenue',
          'Number of Competitors',
          'Easy Apply']

In [8]:
# Storing the cleaned data in a csv file
df = df[columns]
df.to_csv('DataAnalystCleaned.csv', index=True)